body{
    background-image: url(https://i.pinimg.com/1200x/50/b7/6c/50b76c5790cbcea451757ebc33c6abc0.jpg);
    background-size: 100% ;
    text-align: center;
    font-family: 'Times New Roman', 'Serif';
}
img{
    align-self: center;
}
